<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_id, "Page ID" %><br />
    http://facebook.com/<%= f.text_field :page_id %><br/>
	<img id="profile_pic" src="" style="height:50px; width: 50px;"/>
  </div>

  <div class="field">
	<%= f.label :section, "High Level Section" %><br />
	<%= f.select :section, Section.all.map{|s| [ s.name, s.id ] } %>
  </div>

  <div class="field">
	<%= f.label :category_name %><br />
	<%= f.text_field :category_tags, :value=>@page.category_tags.join(", ") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
$('#page_page_id').change( function(e) { $('#profile_pic').attr('src','http://graph.facebook.com/'+e.target.value+'/picture') });

$(function() {
	function split( val ) {
		return val.split( /,\s*/ );
	}
	function extractLast( term ) {
		return split( term ).pop();
	}

	$( "#page_category_tags" )
		// don't navigate away from the field on tab when selecting an item
		.bind( "keydown", function( event ) {
			if ( event.keyCode === $.ui.keyCode.TAB &&
					$( this ).data( "autocomplete" ).menu.active ) {
				event.preventDefault();
			}
		})
		.autocomplete({
			source: function( request, response ) {
				$.getJSON( "/categories/autocomplete_category_name", {
					term: extractLast( request.term )
				}, response );
			},
			search: function() {
				// custom minLength
				var term = extractLast( this.value );
				if ( term.length < 2 ) {
					return false;
				}
			},
			focus: function() {
				// prevent value inserted on focus
				return false;
			},
			select: function( event, ui ) {
				var terms = split( this.value );
				// remove the current input
				terms.pop();
				// add the selected item
				terms.push( ui.item.value );
				// add placeholder to get the comma-and-space at the end
				terms.push( "" );
				this.value = terms.join( ", " );
				return false;
			}
		});
});
</script>