<h2><%=@category_name%> Events</h2>
<%@events.each_with_index{|event,i|%>
 <div class="event">
     <div class="icon">
       <img src='/images/cal_icon.png'/>
     </div> <!-- end icon -->
     <div class="date">
       <%=Date::MONTHNAMES[event.start_time.month]%> <%=event.start_time.day%>
       <%if event.end_time-event.start_time>100000%>
       - <%=Date::MONTHNAMES[event.end_time.month]%> <%=event.end_time.day%>
       <%end%>
     </div>
     <div class="title"><a href='http://www.facebook.com/event.php?eid=<%=event.event_id%>'><%= event.name%></a></div>
     <div class="location"><%=event.location%></div>
  </div> <!-- end event -->
<%}%>
