
<div id="nav">
  <div class="container">
  <ul>
    <li><a href="/">Home</a></li>
    <li><%= section_link "Art" %></li>
    <li><%= section_link "Theater" %></li>
    <li><%= section_link "Music" %></li>
    <li><%= section_link "Movies" %></li>
    <li><%= section_link "History" %></li>
    <li><%= section_link "Educational" %></li>
    <li><%= section_link "Food" %></li>
  </ul>
  </div><!--end container -->
</div><!-- end nav -->

<div id="main" class="container">


<!-- left hand column -->
<div id="filter">
<h2>Categories </h2>
<ul>
  <li><input type="checkbox" name="filter1" value="Car" /> filter </li>
  <li><input type="checkbox" name="filter2" value="Car" /> filter </li>
</ul>
</div><!-- end filter-->


<!-- center column -->
<div id="feed">

    <h2> <%=@category_name%> Updates</h2>
    <ul>
      <% @posts.each do |post| %>
      <li>
        <div class="image-left">
          <%= image_tag post.page.profile_picture_url, :width => 64, :height => 64 %>
        </div>
        <div class="text-right">
          <h3><%= link_to post.page.name, post.page.link if post.page.link %></h3>
          <div class="message"> <%= post.message unless post.message.nil? %> </div>
          <div class="timestamp"> 
          <%if post.icon%>
          <span style='vertical-align:-2px'>
            <img src='<%=post.icon%>'/>
            </span>
          <%end%>
          <%= link_to "Posted #{time_ago_in_words post.created_time} ago", post.post_url %>
          
          </div>
        </div>
      </li>
      <% end %>

    </ul>

</div><!-- end feed-->

<!-- right column -->
<div id="widgets">

  <%=render(:partial=>'events_one_line')%> 

</div><!-- end widgets-->

</div> <!-- end container -->

